<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <img src="futranLogo.png" style="size: 20px;" alt=""> -->
    <img style="margin-left: -55px;" width="50%" src="data:image/png;base64,{{logo}}" alt="Logo" />

    <style>
      
       /* table {
            border: 2px solid black; 
        } */

     </style>
    
</head>


<body style="size: 15cm 15.7cm; margin-left: 70px; margin-right: 50px;">
    <div style="height: 2480; width: 3508; display: block" >
    <p>REF No: Futran Solutions HR/01-23/OFFER0266</p>
    
        <p style="margin-left: 470px;">Date: 17-01-2022</p>
        
    <p><b>

        To,
        <br></br>
     {Name}
     <br></br>
     {Address}
    </b></p>

      <div style="margin-left: 20px;"><h3><u>Sub: Job offer letter for the position of {Designation}</u></h3></div>

    <p>Dear <b>Ms. Advita Dalal,</b></p>

    <p>We are pleased to offer you the position of <b>{Designation}</b>in <b><i>Futran Tech Solutions Pvt Ltd.</i></b>, based at<b>{joining location}</b>. This offer takes effect from your<b>{date of joining}</b>.
        <br></br>

        Your immediate reporting manager will be<b>{reporting manager}</b>. We trust that your knowledge, skills and experience will be among our most valuable assets.
        <br></br>
        As discussed, and agreed with you, please find the below terms and conditions:</p>

        <ul><li><b>Salary</b>: Annual CTC of <b>{offered ctc} (Three Lakhs Eighty -Four Thousand Rupees Only)</b> subject to tax and other statutory deductions.</li></ul>

        <ul><li><b>Benefits</b>: Healthcare Insurance, Provident Fund, Business Travel expenses and reimbursements as per company policy.</li></ul>

        <ul><li>Review Annexure A for detailed Compensation Breakup</li></ul>
    
        <ul><li>This offer letter is valid till <b>{buffer time (joining date + 4 days)}</b>. Please send a signed copy of this letter indicating your acceptance to join and resignation acceptance letter from your current employer to our HR at hrindia@futransolutions.com.</li></ul>
      
        <ul><li>As per organization policy, the probation period applicable to you shall be Three (03) months. You would be posted at our{joining location}. However as and when required, you may be required to re-locate to any of the offices in India or abroad.</li></ul>
        
        <ul><li>During probation, the period of notice required for resignation is thirty (30) days. After probation, the period of notice required for resignation is Sixty (60) days.</li></ul>
      
        <ul><li>You will abide by the rules and regulations of the Company as may be in force from time to time and any violation towards the same will result in disciplinary action as detailed in the joining documents.</li></ul>

        <br></br>
      
        <ul><li>Your appointment is subject to satisfactory clearance of reference and background checks 
            
            <footer>
                <img style= "display:block; margin-left: auto; margin-right: auto;"src="data:image/png;base64,{{footer}}" alt="footer"/>
               </footer>
    </div> 

    <!-- page 2 -->
    <div style="height: 2480; width: 3508; display:block">


               <header>
                <!-- <img src="futranLogo.png" style="size: 20px;" alt=""> -->
                <img style="margin-left: -55px;" width="50%" src="data:image/png;base64,{{logo}}" alt="Logo" />
               </header>


            and clearance from any secrecy / service agreements that you may have executed, which could have a bearing on your working with us. This letter of offer is based on the information furnished in your application for employment and during the interviews you had with us. If, at any time in future, it comes to light that any of this information is incorrect or any relevant information has been withheld, then your employment is liable to be terminated without notice.</li></ul>
       
        <ul><li>Any disputes arising out of this letter shall be governed by and construed in accordance with the laws of India.</li></ul>
      
        <ul><li>Your Appointment Letter will be issued on the date of joining.The joining formalities and <br></br>induction will be carried out in our <b>{joining location}</b>.</li></ul>
          


        


        <p>Please submit the following documents to HR before the date of Joining:
          <br></br>
        {required documents different as per experience}
        </p>

        <ol type="1")>
        <li>Photocopies of your SSC, Intermediate, & Graduation Degree certificates,</li>
        <li>Certifications, if any,</li>
        <li>Experience & relieving Letters of all previous employers</li>
        <li>Three color passport-size photos,</li>
        <li>Latest Three (03) months’ salary slips from your previous organization</li>
        <li>Bank Statement</li>
        <li>Copy of Aadhar, Pan & Passport</li>
         </ol>

        <h4>We look forward to welcome you aboard.</h4>


        <p>Sincerely,
            <br></br>

            <b style="margin-left: 20px;">For Futran Tech Solutions Pvt Ltd.,</b>
        </p>

         <!-- <img src="../template/signature.png"style="size: 20px;" alt=""> -->
        <img width="30%" src="data:image/png;base64,{{signature}}" alt="Signature" /> 

        <h3>Amit Shrimali</h3>
        <h3>(Head – India Operations)</h3>
        <h3>Agreed & Accepted</h3>
        <p style="margin-left: 470px;"><b>Date:</b></p>
        <p><b>Name:</b></p>
        <p><b>Signature:</b></p>
        <p style="margin-left: 1150px;"><b>Date:</b></p>
    

          
        
            <p style="text-align: center;"><b><u>Annexure-A</u></b></p>
            
            <footer>
                <img style= "display:block; margin-left: auto; margin-right: auto;"src="data:image/png;base64,{{footer}}" alt="footer"/> 
               </footer>



    </div>
    <br></br>

    <!-- page 3 -->
    <div  style="height: 2480; width: 3508; display: block;">

               <img src="futranLogo.png" alt="">
               <img style="margin-left: -55px;" width="50%" src="data:image/png;base64,{{logo}}" alt="Logo" />



           <!-- <table style="border: 2px solid black;">

            <tr>
                <td style="border: 12px;"><b>Salary Structure</b></td>  
            </tr>
            
   

            <tr>
                <th style="text-align:center;">With PF</th>
                <th style="margin-left:80px ;">Without PF</th>
            </tr>
            
            
            
            <tr>
                   <td><b>Particulars</b></td>
                   <td><b>Monthly</b></td>
                   <td><b>Yearly</b></td>
                   <td><b>Monthly</b></td>
                   <td><b>Yearly</b></td>
          
                </tr>

               <tr>
                   <td style="border: 0ch;">Basic</td>
               </tr>
    
               <tr>
                   <td style="border: 0ch;">HRA</td>
               </tr>
    
               <tr>
                   <td style="border: 0ch;">Employer Contribution to PF</td>
               </tr>
    
               <tr>
                   <td style="border: 0ch;">Special Allowance</td>
               </tr>
    
               <tr >
                   <td style="border: 2px  solid black;"><b>Gross Salary</b></td>
               </tr>

            <tr>
                <td style="border: 0ch;"><b>Less:</b></td>
            </tr>


            <tr>
               <td style="border: 0ch;">Employer Contribution to PF</td>
            </tr>

            <tr>
               <td style="border: 0ch;">Employee Contribution to PF</td>
            </tr>

            <tr>
               <td><b>Net Pay before taxes</b></td>
            </tr>

            <tr>
               <td>&nbsp;</td>
            </tr>

            <tr>
               <td><b>Cost to Company</b></td>
            </tr>

            <tr>
               <td style="border: 0ch;"><b>Monthly salary to be disbursed post deduction of taxes subject to the prevailing tax laws</b></td>
            </tr> 
         
        </table> -->

        <body>
            <table cellspacing="0" border="0">
                <colgroup width="187"></colgroup>
                <colgroup width="75"></colgroup>
                <colgroup width="86"></colgroup>
                <colgroup width="3"></colgroup>
                <colgroup width="75"></colgroup>
                <colgroup width="86"></colgroup>
                <colgroup width="115"></colgroup>
                <tr>
                    <td style="border-top: 2px solid #000000; border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Salary Structure</font></b></td>
                    <td style="border-top: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><b><font face="Times New Roman" color="#000000">With PF</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><b><font face="Times New Roman" color="#000000">Without PF</font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Particulars</font></b></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom><b><font face="Times New Roman" color="#000000">Monthly</font></b></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> Yearly </font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom><b><font face="Times New Roman" color="#000000">Monthly</font></b></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> Yearly </font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">Basic</font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="20833.3333333333" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{basicMothly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="250000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{basicYearly}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="20833.3333333333" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{basicMothly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="250000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{basicYearly}} </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">HRA</font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="8333.33333333333" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{HraMonthly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="100000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{HraYearly}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="8333.33333333333" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{HraMonthly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="100000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{HraYearly}} </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">Employer Contribution to PF</font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="1800" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{EmployerCtoPfMonthly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="21600" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{EmployerCtoPfYearly}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{EmpContTopfMonthly}}  </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{EmpContTOpfYearly}}   </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">Special Allowance</font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="10700" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{specialAllowanceMonthly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="128400" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{specialAllowanceYearly}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-left: 1px solid #000000" align="right" valign=bottom sdval="12500" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{SpAllowanceMonthly}} </font></td>
                    <td style="border-right: 1px solid #000000" align="right" valign=bottom sdval="150000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{SpAllowanceYearly}} </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Gross Salary</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="right" valign=bottom sdval="41666.6666666667" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{GrossSalaryMonthly}} </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="500000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{GrossSalaryYearly}} </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0.00_ ;_ * -#,##0.00_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="right" valign=bottom sdval="41666.6666666667" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{GrSalaryMonthly}}</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="500000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{GrSalaryYearly}} </font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Less: </font></b></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="11" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">Employer Contribution to PF</font></td>
                    <td align="right" valign=bottom sdval="1800" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{empContrtoPfM}} </font></td>
                    <td align="right" valign=bottom sdval="21600" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{empContrtoPfY}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> -   </font></td>
                    <td align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> -   </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000">Employee Contribution to PF</font></td>
                    <td align="right" valign=bottom sdval="1800" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{empContrtoPfM}} </font></td>
                    <td align="right" valign=bottom sdval="21600" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> {{empContrtoPfY}} </font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> -   </font></td>
                    <td align="right" valign=bottom sdval="0" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"> -   </font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Net Pay before taxes</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="right" valign=bottom sdval="38066.6666666667" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{NetpaybtaxesM}} </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="right" valign=bottom sdval="41666.6666666667" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{NetpaybtaxesY}} </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000; border-left: 2px solid #000000" height="21" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Cost to Company</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000" align="left" valign=bottom><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000" align="right" valign=bottom sdval="500000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000">{{CostToCompany}} </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000" align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000" align="right" valign=bottom sdval="500000" sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"> {{CostToCompany}} </font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="21" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><b><font face="Times New Roman" color="#000000"><br></font></b></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><b><font face="Times New Roman" color="#000000">Monthly salary to be disbursed post deduction of taxes subject to the prevailing tax laws </font></b></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom sdnum="1033;0;_ * #,##0_ ;_ * -#,##0_ ;_ * &quot;-&quot;??_ ;_ @_ "><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-left: 2px solid #000000" height="20" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000" height="21" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                    <td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
                </tr>
            </table>
           
            </body>
            
         
            


        

           <p>
                You will receive salary, and all other benefits forming part of your remuneration package subject to and<br></br> after deduction of tax at source in accordance with applicable law.
           </p>

           <h3>Agreed & Accepted</h3>

           <p><b>Name:</b></p>
           <p><b>Signature:</b></p>
           <p><b>Date:</b></p>



           <footer>
            <img style= "display:block; margin-left: auto; margin-right: auto;"src="data:image/png;base64,{{footer}}" alt="footer"/>
           </footer>

    </div>

    <!-- </div> -->
</body>
</html>