.candidateList-block__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 999;
}

.candidateList-block__container {
    position: absolute;
    width: 90%;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid rgb(223, 211, 211);
    background: white;
    height: 480px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.candidateList-block__tableContainer {
    overflow: auto;
    margin: 0 auto;
    width: 90%;
}

.candidateList-block__table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    border-spacing:0 15px;
    width: auto;
}

.candidateList-block__table, .candidateList-block__tableHeadElem, .candidateList-block__tableBodyElem {
    border: 1px solid black;
}

.candidateList__icon--close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: rgb(11, 70, 133);
    cursor: pointer;
}

.candidateList__icon--close:hover{
    color: rgba(0, 0, 0, 0.705);
}